<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>회원가입</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div class="board_wrap">
    <div class="board_title">
        <strong>회원가입</strong>
    </div>
    <div class="board_write_wrap">
        <div class="board_write">
            <form id="joinForm">
                <div class="title">
                    <dl>
                        <dt>아이디</dt>
                        <dd><input name="userId" placeholder="아이디 입력" type="text"></dd>
                    </dl>
                </div>
                <div class="title">
                    <dl>
                        <dt>이름</dt>
                        <dd><input name="userName" placeholder="이름 입력" type="text"></dd>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt>비밀번호</dt>
                        <dd><input name="userPassword" placeholder="비밀번호 입력" type="password"></dd>
                    </dl>
                    <dl>
                        <dt>비밀번호 확인</dt>
                        <dd><input name="userPasswordConfirm" placeholder="비밀번호 입력" type="password"></dd>
                    </dl>
                </div>
            </form>
        </div>
        <div class="bt_wrap">
            <button id="joinBtn" class="on" type="button">가입</button>
            <a href="list.html">취소</a>
        </div>
    </div>
</div>
</body>
<script>
    let joinForm = document.getElementById("joinForm");
    let joinBtn = document.getElementById("joinBtn");

    joinBtn.onclick = function () {
        joinForm.action = "/user/join";
        joinForm.method = "POST";

        joinForm.submit();
    }
</script>
</html>