<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div>
    <button th:onclick="|location.href='@{/member/join}'|" type="button">회원가입</button>
    <button th:onclick="|location.href='@{/member/login}'|" type="button">로그인</button>

    <h1 th:if="${loginMember != nulll}">
        <span th:text="${loginMember.userId} + ' 님 환영합니다!!'"></span>
    </h1>
</div>
<div>
    <h1>박스오피스 순위</h1>
    <!--    <h2>[[${movieList}]]</h2>-->
    <ul>
        <li th:each="movie : ${movieList}">
            <!-- 여기서 'movie'는 각 JsonObject를 나타냅니다. -->
            <div>
                <strong>제목:</strong> <span th:text="${movie.get('movieNm').getAsString()}"></span><br>
<!--                <strong>제목:</strong> <span th:text="${movie.movieNm}"></span><br>-->
<!--                <strong>누적관객:</strong> <span th:text="${movie.audiAcc}"></span><br>-->
<!--                <strong>개봉일:</strong> <span th:text="${movie.openDt}"></span>-->
            </div>
        </li>
    </ul>
</div>
<div>

</div>
</body>
<script>

</script>
</html>